/* 
wrm styles

by: Navilindo AM
*/

body {
  background-color : rgb(193, 193, 193);
  background-color: yellow;
}

/*
fonts
*/

/*
font-family: 'Barlow', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;

*/

/* main */

.page-heading {
  color: #123456;
  font-weight: 700;
  font-family: 'Barlow', sans-serif;
}

.main {
  height: 100vh;
  background-image: linear-gradient(160deg, var(--btRed), var(--btBlue));
}
